<h1>Editing Dictionaries Category</h1>

<%= render 'form', dictionaries_category: @dictionaries_category %>

<%= link_to 'Show', @dictionaries_category %> |
<%= link_to 'Back', dictionaries_categories_path %>
