<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @dictionaries_category.value %>
</p>

<%= link_to 'Edit', edit_dictionaries_category_path(@dictionaries_category) %> |
<%= link_to 'Back', dictionaries_categories_path %>
